APP_PORT=3838
LOG_LEVEL=development
NODE_ENV=development
ROUND=
SECRET=
DB_SERVER=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
APP_URL=
APP_ADDRESS=
APP_NAME=
EMAIL_FROM=